# Mission 1

Display the following information [for this dataset](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user).
- The last 5 rows
- The first 5 rows
- The type of each column

Note : start coding something by typing `pd.read_csv()` and explore the different options available, especially the `sep` parameter.

#### Load dataset

In [78]:
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user'
df1 = pd.read_csv(url, sep='|', header=None)
df1

       0   1  2              3      4
0      1  24  M     technician  85711
1      2  53  F          other  94043
2      3  23  M         writer  32067
3      4  24  M     technician  43537
4      5  33  F          other  15213
..   ...  .. ..            ...    ...
938  939  26  F        student  33319
939  940  32  M  administrator  02215
940  941  20  M        student  97229
941  942  48  F      librarian  78209
942  943  22  M        student  77841

[943 rows x 5 columns]

#### Display the last 5 rows

In [79]:
# tail_df = df.tail(5)
tail_df = df1.iloc[-5:]
tail_df

       0   1  2              3      4
938  939  26  F        student  33319
939  940  32  M  administrator  02215
940  941  20  M        student  97229
941  942  48  F      librarian  78209
942  943  22  M        student  77841

#### Display the first 5 rows

In [80]:
# head_df = df.head(5)
head_df = df1.iloc[:5]
head_df

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

#### Display the type of each column

In [82]:
df1.dtypes

0     int64
1     int64
2    object
3    object
4    object
dtype: object

# Mission 2

Display the first 10 rows [in the following file](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv)

#### Load dataset

In [81]:
url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv'
df2 = pd.read_csv(url, sep=',')
df2

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

#### Display the first 10 rows

In [83]:
df2.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe

#### Setting country as index

Set the "country" column as the index for the dataframe, using `set_index` method.

In [84]:
df2 = df2.set_index('country')
df2

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa
...,...,...,...,...,...
Venezuela,333,100,3,7.7,South America
Vietnam,111,2,1,2.0,Asia
Yemen,6,0,0,0.1,Asia
Zambia,32,19,4,2.5,Africa
Zimbabwe,64,18,4,4.7,Africa

In [ ]:
df2.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

# Mission 3

Access the values of the row for **Zimbabwe** (use the index value)

In [85]:
df2.loc['Zimbabwe']

beer_servings                       64
spirit_servings                     18
wine_servings                        4
total_litres_of_pure_alcohol       4.7
continent                       Africa
Name: Zimbabwe, dtype: object

# Mision 4

Display only the "continent" column value for the country **Zimbabwe**.

In [86]:
df2.loc[['Zimbabwe'], ['continent']].to_string(index=False)

'continent\n   Africa'

# Mission 5

Rename the columns [of this dataset](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv), try using the following 2 different methods to achieve this:
- Setting column names directly when reading the file
- Editing after creating the dataframe ([This resource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html))

#### Load dataset (rename on load)

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv'
df3 = pd.read_csv(url, sep=',', names=['City', 'Color', 'Shape', 'State', 'Time'], header=0)
print(df3)

                       City Color     Shape State              Time
0                    Ithaca   NaN  TRIANGLE    NY    6/1/1930 22:00
1               Willingboro   NaN     OTHER    NJ   6/30/1930 20:00
2                   Holyoke   NaN      OVAL    CO   2/15/1931 14:00
3                   Abilene   NaN      DISK    KS    6/1/1931 13:00
4      New York Worlds Fair   NaN     LIGHT    NY   4/18/1933 19:00
...                     ...   ...       ...   ...               ...
18236            Grant Park   NaN  TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake   NaN      DISK    IA  12/31/2000 23:00
18238           Eagle River   NaN       NaN    WI  12/31/2000 23:45
18239           Eagle River   RED     LIGHT    WI  12/31/2000 23:45
18240                  Ybor   NaN      OVAL    FL  12/31/2000 23:59

[18241 rows x 5 columns]

#### Rename columns of existing DF

In [ ]:
renamed_df3 = df3.rename(columns={'Time': 'DateTime', 'State': 'State Abbr.'})
print(renamed_df3)

                       City Color     Shape State Abbr.          DateTime
0                    Ithaca   NaN  TRIANGLE          NY    6/1/1930 22:00
1               Willingboro   NaN     OTHER          NJ   6/30/1930 20:00
2                   Holyoke   NaN      OVAL          CO   2/15/1931 14:00
3                   Abilene   NaN      DISK          KS    6/1/1931 13:00
4      New York Worlds Fair   NaN     LIGHT          NY   4/18/1933 19:00
...                     ...   ...       ...         ...               ...
18236            Grant Park   NaN  TRIANGLE          IL  12/31/2000 23:00
18237           Spirit Lake   NaN      DISK          IA  12/31/2000 23:00
18238           Eagle River   NaN       NaN          WI  12/31/2000 23:45
18239           Eagle River   RED     LIGHT          WI  12/31/2000 23:45
18240                  Ybor   NaN      OVAL          FL  12/31/2000 23:59

[18241 rows x 5 columns]

# Mission 6

Select the first 3 rows and all the columns of the dataframe using iloc

In [ ]:
print(df3.iloc[:3])

          City Color     Shape State Abbr.         DateTime
0       Ithaca   NaN  TRIANGLE          NY   6/1/1930 22:00
1  Willingboro   NaN     OTHER          NJ  6/30/1930 20:00
2      Holyoke   NaN      OVAL          CO  2/15/1931 14:00

# Mission 7

Achieve the same result as in mission 6 by using loc

In [ ]:
print(df3.loc[[0, 1, 2]])

          City Color     Shape State Abbr.         DateTime
0       Ithaca   NaN  TRIANGLE          NY   6/1/1930 22:00
1  Willingboro   NaN     OTHER          NJ  6/30/1930 20:00
2      Holyoke   NaN      OVAL          CO  2/15/1931 14:00